html, body {
  padding: 1em;
  margin: 0;
  font-family: sans-serif;
}

.pixelated {
  color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8px)[110];
      grid-template-columns: repeat(110, 8px);
  grid-column-gap: 3px;
  grid-row-gap: 12px;
  padding-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div {
  display: block;
  width: 2px;
  height: 2px;
}

.a {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 6px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 6px 8px 0 #000;
}

.b {
  background: #000;
  -webkit-box-shadow: 0px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 0px 0 #000, 4px 0px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 6px 0 #000;
          box-shadow: 0px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 0px 0 #000, 4px 0px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 6px 0 #000;
}

.c {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000;
}

.d {
  background: #000;
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000;
}

.e {
  background: #000;
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000;
}

.f {
  background: #000;
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000;
}

.g {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000, 6px 6px 0 #000, 6px 4px 0 #000, 4px 4px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000, 6px 6px 0 #000, 6px 4px 0 #000, 4px 4px 0 #000;
}

.h {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 0px 8px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 6px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 0px 8px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 6px 8px 0 #000;
}

.i {
  -webkit-box-shadow: 2px 0px 0 #000, 2px 2px 0 #000, 2px 4px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 2px 2px 0 #000, 2px 4px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000;
}

.j {
  -webkit-box-shadow: 6px 0px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 4px 8px 0 #000, 2px 8px 0 #000, 0px 6px 0 #000;
          box-shadow: 6px 0px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 4px 8px 0 #000, 2px 8px 0 #000, 0px 6px 0 #000;
}

.k {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 6px 0px 0 #000, 4px 2px 0 #000, 2px 4px 0 #000, 4px 6px 0 #000, 6px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 6px 0px 0 #000, 4px 2px 0 #000, 2px 4px 0 #000, 4px 6px 0 #000, 6px 8px 0 #000;
}

.l {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000;
}

.m {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 2px 0 #000, 4px 4px 0 #000, 6px 2px 0 #000, 8px 0px 0 #000, 8px 2px 0 #000, 8px 4px 0 #000, 8px 6px 0 #000, 8px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 2px 0 #000, 4px 4px 0 #000, 6px 2px 0 #000, 8px 0px 0 #000, 8px 2px 0 #000, 8px 4px 0 #000, 8px 6px 0 #000, 8px 8px 0 #000;
}

.n {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 2px 0 #000, 4px 4px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 6px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 2px 0 #000, 4px 4px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 6px 8px 0 #000;
}

.o {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000;
}

.p {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 0px 0 #000, 4px 0px 0 #000, 6px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 0px 0 #000, 4px 0px 0 #000, 6px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000;
}

.q {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 4px 6px 0 #000, 6px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 4px 6px 0 #000, 6px 8px 0 #000;
}

.r {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 0px 0 #000, 4px 0px 0 #000, 6px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 4px 6px 0 #000, 6px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 0px 0 #000, 4px 0px 0 #000, 6px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 4px 6px 0 #000, 6px 8px 0 #000;
}

.s {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000, 4px 8px 0 #000, 2px 8px 0 #000, 0px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000, 4px 8px 0 #000, 2px 8px 0 #000, 0px 8px 0 #000;
}

.t {
  background: #000;
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 2px 2px 0 #000, 2px 4px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 2px 2px 0 #000, 2px 4px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000;
}

.u {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 6px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 6px 8px 0 #000;
}

.v {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 0px 0 #000, 4px 2px 0 #000, 4px 4px 0 #000, 4px 6px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 0px 0 #000, 4px 2px 0 #000, 4px 4px 0 #000, 4px 6px 0 #000;
}

.w {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 6px 0 #000, 6px 8px 0 #000, 8px 0px 0 #000, 8px 2px 0 #000, 8px 4px 0 #000, 8px 6px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 6px 0 #000, 6px 8px 0 #000, 8px 0px 0 #000, 8px 2px 0 #000, 8px 4px 0 #000, 8px 6px 0 #000;
}

.x {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 2px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 4px 0px 0 #000, 4px 2px 0 #000, 4px 6px 0 #000, 4px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 2px 4px 0 #000, 0px 6px 0 #000, 0px 8px 0 #000, 4px 0px 0 #000, 4px 2px 0 #000, 4px 6px 0 #000, 4px 8px 0 #000;
}

.y {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 4px 2px 0 #000, 4px 0px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 4px 2px 0 #000, 4px 0px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000;
}

.z {
  background: #000;
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 4px 4px 0 #000, 2px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 4px 4px 0 #000, 2px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000;
}

.dot {
  -webkit-box-shadow: 0px 8px 0 #000;
          box-shadow: 0px 8px 0 #000;
}

.comma {
  -webkit-box-shadow: 0px 10px 0 #000, 2px 8px 0 #000;
          box-shadow: 0px 10px 0 #000, 2px 8px 0 #000;
}

.exclemation {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 8px 0 #000;
}

.question {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 4px 6px 0 #000, 2px 6px 0 #000, 2px 10px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 4px 6px 0 #000, 2px 6px 0 #000, 2px 10px 0 #000;
}

.zero {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 4px 6px 0 #000, 2px 4px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 2px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 4px 6px 0 #000, 2px 4px 0 #000;
}

.one {
  -webkit-box-shadow: 2px 0px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000, 2px 4px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000, 0px 8px 0 #000, 4px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000, 2px 4px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000, 0px 8px 0 #000, 4px 8px 0 #000;
}

.two {
  -webkit-box-shadow: 0px 2px 0 #000, 2px 0px 0 #000, 4px 0px 0 #000, 6px 2px 0 #000, 4px 4px 0 #000, 2px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000;
          box-shadow: 0px 2px 0 #000, 2px 0px 0 #000, 4px 0px 0 #000, 6px 2px 0 #000, 4px 4px 0 #000, 2px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 8px 0 #000;
}

.three {
  background: #000;
  -webkit-box-shadow: 2px 0px 0 #000, 4px 2px 0 #000, 2px 4px 0 #000, 4px 6px 0 #000, 2px 8px 0 #000, 0px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 2px 0 #000, 2px 4px 0 #000, 4px 6px 0 #000, 2px 8px 0 #000, 0px 8px 0 #000;
}

.four {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 6px 0 #000, 4px 6px 0 #000, 4px 4px 0 #000, 4px 8px 0 #000, 6px 6px 0 #000;
          box-shadow: 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 6px 0 #000, 4px 6px 0 #000, 4px 4px 0 #000, 4px 8px 0 #000, 6px 6px 0 #000;
}

.five {
  background: #000;
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000, 0px 8px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000;
}

.six {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 6px 0 #000, 4px 4px 0 #000, 2px 4px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 0px 4px 0 #000, 0px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 6px 6px 0 #000, 4px 4px 0 #000, 2px 4px 0 #000;
}

.seven {
  background: #000;
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 4px 4px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 6px 0px 0 #000, 6px 2px 0 #000, 4px 4px 0 #000, 2px 6px 0 #000, 2px 8px 0 #000;
}

.eight {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 6px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 0px 6px 0 #000, 6px 6px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 6px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000, 0px 6px 0 #000, 6px 6px 0 #000;
}

.nine {
  -webkit-box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 6px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000;
          box-shadow: 2px 0px 0 #000, 4px 0px 0 #000, 0px 2px 0 #000, 6px 2px 0 #000, 2px 4px 0 #000, 4px 4px 0 #000, 6px 4px 0 #000, 6px 6px 0 #000, 2px 8px 0 #000, 4px 8px 0 #000;
}

.apostrove {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000;
          box-shadow: 0px 2px 0 #000;
}

.dapostrove {
  background: #000;
  -webkit-box-shadow: 0px 2px 0 #000, 4px 0px 0 #000, 4px 2px 0 #000;
          box-shadow: 0px 2px 0 #000, 4px 0px 0 #000, 4px 2px 0 #000;
}
/*# sourceMappingURL=font.css.map */