html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #44A;
    box-shadow: 0 2px 10px #444;
}

.header-container {
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
}

h1 {
    font-family: 'rubik';
    margin-bottom: 10px;
    color: #FFF;
}

nav {
    background-color: #FFF;
    display: inline-block;
    height: 100%;
    position: sticky;
    top: 2em;
    margin: 0 2em;
    border-radius: 16px;
    box-shadow: 1px 1px 5px #CCC;
    user-select: none;
    flex: 0 0 auto;
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li{ 
            a {
                padding: 1em;
                display: block;
                text-align: left;
            }
            
            &:first-child a {
                padding-top: 1.5em;
                border-radius: 16px 16px 0 0;
            }

            &:last-child a {
                padding-bottom: 1.5em;
                border-radius: 0 0 16px 16px;
            }
        }
        &:hover li a {
            opacity: .5;

            &:hover {
                text-decoration: underline;
                background-color: #eee;
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

.spacer {
    display: block;
    height: 2000px;
}

main.with-nav {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    font-family: "Rubik";
}

h2 {
    margin: 0;
    padding-top: 1.5em;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;

    span {
        display: block;
        

        $indent: 1.5em;

        &.indent-1 {
            padding-left: 1*$indent;
        }
        &.indent-2 {
            padding-left: 2*$indent;
        }
    }
}

table {
    border-collapse: collapse;

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}

footer {
    font-family: "Rubik";
    background-color: #44A;
    color: #FFF;
    padding: 1.5em;
    margin-top: 2em;
}

.small-text {
    font-style: italic;
    font-weight: lighter;
    font-size: 0.8em;
}

main.page-content {
    display: block;
    max-width: 650px;
    margin-right: 2em;
}

@media (max-width: 600px) {
    main.page-content {
        width: max(300px, 90%);
        margin: 0 auto;
    }

    nav {
        display: none;
    }
}